//整个日历的大小
.calendar {
    width: 100%;
    height: 200px;
}

.calendar-header {
    &-left {
        display: flex;
        align-items: center;

        height: 28px;
        line-height: 28px;
    }

    &-value {
        font-size: 20px;
    }

    &-btn {
        background: #eee;
        cursor: pointer;
        border: 0;
        padding: 0 15px;
        line-height: 28px;

        &:hover {
            background: #ccc;
        }
    }
  
    &-icon {
        width: 28px;
        height: 28px;

        line-height: 28px;
    
        border-radius: 50%;
        text-align: center;
        font-size: 12px;

        user-select: none;
        cursor: pointer;

        margin-right: 12px;
        &:not(:first-child) {
            margin: 0 12px;
        }

        &:hover {
            background: #ccc;
        }
    }
  
}



.calendar-month {
    &-week-list {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        padding: 0px;
        box-sizing: border-box;
        border-bottom: 1px solid #ccc;

        &-item {
            // width: calc(100% / 7); //每个格子占1/7
            flex:1;//自适应，每个格子都是1份
            padding: 20px 16px;
            text-align: left;
            color: #7d7d7f;
        }
    }
    &-body {
        &-row {
            width: 100%;
            height: 100px;
            display: flex;     
        }
        &-cell {
            flex: 1;
            border: 1px solid #eee;
            // padding: 10px;
            box-sizing: border-box;
            color: #ccc;
            overflow: hidden; //超过隐藏
            &-current {
                color: #000;
            }
            &-date{
                padding: 10px;
                &-selected {
                    background: blue;
                    width: 28px;
                    height: 28px;
                    line-height: 28px;
                    text-align: center;
                    color: #fff;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }

    }
}